<section class="flex flex-col gap-2 w-full">
  <h1 class="font-bold text-3xl">Categories</h1>
  <%= link_to 'Create category', new_category_path, class: "btn-primary w-fit" %>

  <% @categories.each do |category| %>
    <div class="flex gap-2 justify-between w-full border py-2 px-3">
      <h2 class="text-lg font-medium"><%= category.title %></h2>

      <%= link_to "See tasks", category, class: "btn-link" %>
    </div>
  <%end%>
</section>
